<div class="row">
  <div class="col col-md-4">
    <input type="text" ng-model="q" class="form-control" placeholder="search.."/>
  </div>
  <div class="col col-md-6">
    <input type="file" ng-model="csv_file" id="file">
  </div>
  <div class="col col-md-2">
    <button ng-click="search()" class="btn btn-success">search</button>
  </div>
</div>
